.tribe-events-calendar-list__month-separator + .tribe-events-calendar-list__date-separator {
	display: none;
}

.tribe-events .tribe-events-calendar-list__date-separator::after {
	background-color: #eee;
	content: '';
	display: block;
	-webkit-box-flex: 1;
	flex: auto;
	height: 1px;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__month-separator + .tribe-events-calendar-list__event-row {
	margin-bottom: 8px;
	margin-top: 16px;
}

.tribe-common .tribe-events-calendar-summary__event {
	margin-bottom: 16px;
}

.tribe-common .tribe-events-calendar-summary__event:last-child,
.tribe-common--breakpoint-medium .tribe-events-calendar-summary__event {
	margin-bottom: 0;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-row {
	margin-bottom: 16px;
	margin-top: 16px;
}

.tribe-common--breakpoint-medium article .tribe-events-calendar-summary__event-header {
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	flex-wrap: nowrap;
}

.tribe-common--breakpoint-medium .tribe-events-calendar-summary__event-datetime-wrapper {
	display: block;
	flex-grow: 0;
	flex-shrink: 0;
	margin-bottom: 0;
	width: 230px;
}

.tribe-common--breakpoint-medium .tribe-events-calendar-summary__event-title {
	display: block;
	flex-grow: 0;
}

.tribe-common.tribe-events .tribe-events-calendar-summary__event-cost {
	margin-top: 0;
	line-height: 1.62;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-summary__event-cost {
	flex-grow: 0;
	margin-left: 16px;
	margin-top: 0;
	line-height: 1.62;
}

.tribe-common .tribe-events-c-small-cta__price {
	border-radius: 10px;
	display: inline-block;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0.2rem 1rem 0;
	background-color: #eee;
}
