.tribe-events-calendar-list__month-separator-text {
	text-align: center;
	white-space: nowrap;
}

.tribe-events-calendar-summary .tribe-events-calendar-list__month-separator + .tribe-events-calendar-list__date-separator {
	display: none;
}

.tribe-events .tribe-events-calendar-summary .tribe-events-calendar-list__month-separator:after {
	margin-left: 0;
}

.tribe-events .tribe-events-calendar-summary .tribe-events-calendar-list__date-separator::after {
	background-color: #d5d5d5;
	content: '';
	display: block;
	flex: auto;
	-webkit-box-flex: 1;
	height: 1px;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-summary .tribe-events-calendar-list__date-separator::after {
	margin-left: 112px;
}

.tribe-events .tribe-events-calendar-summary .tribe-events-calendar-list__event-row {
	margin: 16px 0;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-summary__event-wrapper--multi-event {
	margin-top: -4px;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-summary .tribe-events-calendar-list__event-row {
	align-items: center;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__month-separator + .tribe-events-calendar-list__event-row {
	margin-bottom: 8px;
}

.tribe-events .tribe-events-calendar-summary .tribe-events-calendar-list__event-date-tag {
	align-self: flex-start;
	width: 74px;
}

.tribe-events .tribe-events-calendar-summary__event {
	margin-bottom: 12px;
}

.tribe-events .tribe-events-calendar-summary__event:last-child {
	margin-bottom: 8px;
}

.tribe-common--breakpoint-medium .tribe-events-calendar-summary__event {
	margin-bottom: 8px;
}

.tribe-common--breakpoint-medium .tribe-events-calendar-summary__event:last-child {
	margin-bottom: 0;
}

.tribe-events .tribe-events-calendar-summary__event:only-child {
	margin-bottom: 0;
	margin-top: 0;
}

.tribe-common--breakpoint-medium article .tribe-events-calendar-summary__event-header {
	align-items: center;
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	flex-wrap: nowrap;
}

.tribe-events .tribe-events-calendar-summary__event-datetime-wrapper {
	align-self: baseline;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-events-calendar-summary__event-datetime-wrapper {
	display: block;
	flex-grow: 0;
	flex-shrink: 0;
	margin-bottom: 0;
	width: 174px;
	line-height: 1.89;
}

.tribe-common--breakpoint-medium .tribe-events-calendar-summary__event-title {
	display: block;
	flex-grow: 0;
}

.tribe-events .tribe-events-calendar-summary__event-cost {
	flex-grow: 0;
	line-height: 1.62;
	margin-top: 4px;
}

.tribe-events .tribe-events-calendar-summary .tribe-events-c-small-cta > * {
	margin-left: 2px;
}

.tribe-events .tribe-events-calendar-summary .tribe-events-c-small-cta__text {
	margin-left: 0;
}

.tribe-events .tribe-events-calendar-summary a.tribe-events-c-small-cta__text {
	border-bottom: 1px solid #334aff;
}

.tribe-events .tribe-events-calendar-summary .tribe-events-c-small-cta__price {
	border-radius: 10px;
	display: inline-block;
	margin-bottom: 0;
	margin-top: 0;
}

/* Icons */
.tribe-events .tribe-events-calendar-summary__event-title-icon {
	margin-left: 0;
	margin-right: 0;
}

em.tribe-events-calendar-summary__event-title-icon:last-of-type {
	margin-right: 4px;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-summary__event-datetime-featured-text,
.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-summary__event-title-featured-text {
	clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.tribe-events-calendar-summary .tribe-events-calendar-list__event-datetime-recurring-link {
	vertical-align: text-top;
}

.tribe-events-calendar-summary .tribe-events-virtual-virtual-event__icon-svg {
	height: 10px;
}
